@import "../../styles/utils.module.scss";

.price_container{
    display: inline-block;
    font-size: 24px; 
    color: $color-gray-1;
    font-weight: 400;
      
    .decimals{
        font-size: 10px;
        line-height: 20px;
        float: left 
    }

    .amount{ 
        float: left 
    }
    .currency{ 
        float: left 
    }
}

.price_container_large{
    display: inline-block;
    font-size: 46px; 
    color: $color-gray-1;
    font-weight: 400;
    margin: 32px 0;
    .decimals{
        font-size: 15px;
        line-height: 30px;
        float: left 
    }

    .amount{ 
        float: left 
    }

    .currency{ 
        float: left 
    }
}

