@import "../../styles/utils.module.scss";


.SearchBox {
    max-width: 1200px;
    height: auto;
    position: relative;
    margin: 0 auto;
    
}

.SearchBoxWrapper{
    background-color: $color-primary;
    height: 55px; 
    padding: 0px 0 0 0;
}