@import "../../styles/utils.module.scss";

.result_item{
    border-bottom: thin solid $color-gray-4;
    display: -webkit-flex;
    display: flex;   
    width: 100%;
}

.result_item_wrapper{
    display: flex;
    flex-direction: row;
    padding: 16px 16px;
    width: 100%;
    position: relative;
}

.picture_wrapper{
    height: 180px;
    margin: 0  16px 0 0;
    overflow: hidden; 
    width: 180px;
    border-radius: 4px;
}
 
.result_title{
    margin: 32px 0 0 0 ;
    display: block;
    h2{
        color: $color-gray-1;
        font-size: 18px;
        font-weight: 300;
        margin: 0;
    }
}

.description{
    padding: 16px 0;
    width: calc(100% - 200px);
}