.navLogo{
    padding: 10px;
    a{
        background-image: url( "/Logo_ML@2x.png.png");
        height: 36px;
       
        width: 53px;
        background-repeat: round;
        overflow: hidden;
        text-indent: -999px; 
        
        display: inline-block;
    }
}