@import "utils.module.scss";


.main {
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    display: block;
    flex-grow: 1;
    width: 100%;
}

.main_container{
    max-width: 1215px;
    padding: 0 10px 0 10px;
    width: 100%;
    background-color: #ededed;
    margin: 0 auto;
}
 